#movies img, #movie img, #favoriteMovies img {
	width: 100%;
	padding: 15px;
}

.movieCardBtn {
	margin-bottom: 10px;
}

.login-form {
	margin: 0 5px;
}

.form-width {
	width: 30%;
}

.logout_btn {
	margin-left: 15px;
}

.navUserLogged {
	margin-right: 100px;
}

.navUserWelcome {
	margin: 0;
}

.favMovies {
	margin-top: 100px;
}

.top-buffer {
	/*background: black;*/
	margin-bottom: 100px;
	padding: 25px;
	border-radius: 5px;
}

.top-buffer:last-of-type {
	margin-bottom: 0px;
}


@media(min-width: ) {
	#movies .col-md-3 .well{
		height: 490px;
	}

	#movies .col-md-3 img{
		height: 340px;
	}
}