#movies img, #movie img {
	width: 100%;
	padding: 15px;
}

.btn {
	margin-bottom: 10px;	
}

.login-form {
	margin: 0 5px;
}

.form-width {
	width: 30%;
}

.logout_btn {
	margin-left: 15px;
}

@media(min-width: ) {
	#movies .col-md-3 .well{
		height: 490px;
	}

	#movies .col-md-3 img{
		height: 340px;
	}

}